<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Meu Flask simples</title>
</head>
<body>
    Aprovado ou Reprovado

    <div>
      <form method="get">
        Primeira Nota:
        <input type="text" name="primera">
        <br>
        Segunda Nota:
        <input type="text" name="segunda">
        <br>
        <input type="submit" value="Enviar">
      </form>
    </div>

    {% if resultado %}
    <div>
      {{resultado}} com média {{media}}!!
    </div>
      {% endif %}

</body>
</html>
